# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.idea
.ipynb_checkpoints

# .pyc文件是.py文件编译后生成的字节码文件(byte code),类似Java的.class文件
*.pyc

# 比赛的数据文件(储存位置:百度网盘)
/tianchi_NewsTextClassification/datasets/
/kaggle_CommonLitReadabilityPrize/datasets/
/kaggle_FeedbackPrize_EvaluatingStudentWriting/datasets/
/kaggle_FeedbackPrize_ EnglishLanguageLearning/datasets/

# 天池新闻文本分类相关文件
/tianchi_NewsTextClassification/trains/fasttext/train_fasttext.csv
/tianchi_NewsTextClassification/data/csv_to_trainTxt/trainTxt_pretrain_model.txt
/tianchi_NewsTextClassification/trains/PretrainedRoberta_base_HuggingFace/save_model/

# kaggle CommonLit Readability Prize相关文件
/kaggle_CommonLitReadabilityPrize/trains/继续训练预训练模型_albert-xxlarge-v2/save_model/
/kaggle_CommonLitReadabilityPrize/trains/继续训练预训练模型_roberta-large/save_model/
/kaggle_CommonLitReadabilityPrize/trains/albert_mlm_cv_train/model3.bin
/kaggle_CommonLitReadabilityPrize/trains/albert_mlm_cv_train/model0.bin
/kaggle_CommonLitReadabilityPrize/trains/albert_mlm_cv_train/model1.bin
/kaggle_CommonLitReadabilityPrize/trains/albert_mlm_cv_train/model2.bin
/kaggle_CommonLitReadabilityPrize/trains/albert_mlm_cv_train/model4.bin

# kaggle FeedbackPrize - Evaluating StudentWriting相关文件
/kaggle_FeedbackPrize_EvaluatingStudentWriting/data/alltrain_texts.pkl

# kaggle FeedbackPrize - English Language Learning相关文件